body {
  font-family: Consolas, Arial;
  background: rgba(189, 191, 204, 0.6);
}

header {
  /* background: red; */
  width: 500px;
  height: auto;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
}

a:link:hover {
  color: red;
}

.mainwindow{
  background: red;
  width: 500px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);
}
