body {
  font-family: Consolas, Arial;
  background: rgba(189, 191, 204, 0.6);
  outline: none;
  min-width: 525px;
}

header {
  /* background: red; */
  width: 500px;
  height: auto;
  margin: auto;
}

/*-------------------*/
h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 10px gray;
}

h2 {
  text-align: center;
}

/*-------------------*/
a:link {
  color: white;
  text-decoration: none;
}

a:link:hover {}

/*-------------------*/
button {
  cursor: pointer;
}

/*-------------------*/
#link_btn {
  width: 100px;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  /* border: 2px solid gray; */
  border: none;
  background: rgb(150, 207, 153);
  outline: none;
  border-bottom: 2px solid red;
  box-shadow: 0px 0px 3px gray;
}

#link_btn:hover {
  box-shadow: 0px 0px 10px gray;
  transition: border .4s;
}

#link_btn:active {
  outline: none;
  transform: translate(0, 2px);
  border: none;
}

/*-------------------*/
.mainwindow {
  background: rgb(199, 74, 74);
  width: 500px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 15px black;
}

/*-------------------*/
.NumberBtn_area {
  position: absolute;
  background: rgb(188, 201, 142);
  width: 360px;
  height: 450px;
  /* bottom: -1px; */
  top: 140px;
  left: 10px;
  box-shadow: 1px 1px 5px black;
  border-radius: 5px
}

.btn_num {
  /* font-family:  */
  font-size: 40px;
  margin-top: 12px;
  /* margin-right: 20px; */
  margin-left: 10px;
  width: 100px;
  height: 95px;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  outline: none;
}

.btn_num:active {
  box-shadow: 0px 0px 5px black;
}

/*-------------------*/
.Calculate_area {
  position: absolute;
  width: 100px;
  bottom: 5px;
  right: 20px;
}

.btn_calculate {
  margin-bottom: 15px;
  width: 100px;
  height: 61px;
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
  outline: none;
}

/*-------------------*/
.Result_Show_area {
  padding-right: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #e3dfd9;
  width: 450px;
  height: 100px;
  text-align: right;
  border-radius: 5px;
}

#result {
  font-size: 80px;
  /* background: red; */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 100px;
  border-radius: 5px;
  right: 0;
  /* margin: auto; */
}

/*---------------------*/
